{{>listeEcuriePartials}}
<img src="/image/ecurie/{{detailEcurie.ECUADRESSEIMAGE}}" alt="image écurie">
<div>
    <p><strong>Nom :</strong> {{detailEcurie.ECUNOM}}</p>
    <p><strong>Directeur :</strong> {{detailEcurie.ECUNOMDIR}}</p>
    <p><strong>Adresse :</strong> {{detailEcurie.ECUADRSIEGE}}</p>
    <p><strong>Pays :</strong> {{detailEcurie.PAYNOM}}</p>
    {{#if fournPneu}}
        <p><strong>Fournisseur de pneumatiques :</strong> {{fournPneu.FPNOM}}</p>
    {{/if}}
</div>
{{#if ecuriePilote }}
    <strong>Pilotes :</strong>
    {{#each ecuriePilote}}
        <a href="/pagePilote/{{this.PILNUM}}">{{this.PILPRENOM}} {{this.PILNOM}}</a>
    {{/each}}
    {{#each photoVoiture}}
        <img src="/image/ecurie/voiture/{{this.VOIADRESSEIMAGE}}" alt="image de voiture">
        <p>{{this.VOINOM}}</p>
        <p>{{this.TYPELIBELLE}}</p>
    {{/each}}
{{else}}
    <p>Cette écurie ne participe pas au championnat cette année</p>
{{/if}}