{{>listeRepPiloPartial}}

<div class="flex-container-pagePilote">

    <div>
        <a href="/image/pilote/{{photoOfficiel.PHOADRESSE}}" data-lightbox="apercuPilote">
            <img class="photoDetailPilote" src="/image/pilote/{{photoOfficiel.PHOADRESSE}}" alt="Photo Officiel" >
        </a>
    </div>
    <div>
        <p><strong>Nom :</strong> {{detailPerso.PILNOM}} {{this.PILPRENOM}}</p>
        <p><strong>Date de naissance:</strong> {{formatDate detailPerso.PILDATENAIS 'dddd D MMMM YYYY'}}</p>
        <p><strong>Nationalité :</strong> {{detailPerso.PAYNAT}}</p>
        <p><strong>Ecurie :</strong>
            {{#if nomEcurie.ECUNOM}}
                {{nomEcurie.ECUNOM}}
            {{else}}
                aucune écurie cette année
            {{/if}}
            </p>
    </div>

    <div>
        <p><strong>Poids :</strong> {{detailPerso.PILPOIDS}} kg</p>
        <p><strong>Taille :</strong> {{detailPerso.PILTAILLE}} cm</p>
    </div>

</div>

<div>
    <strong>Principaux sponsors:</strong>
{{#if detailSponsor}}
    {{#each detailSponsor}}
        <p><strong>{{this.SPONOM}}</strong> ({{this.SPOSECTACTIVITE}})</p>
    {{/each}}
{{else}}
    <p>Pas de sponsor</p>
{{/if}}


</div>
<div>
    <p class="justify" ><strong>Qui suis je ?</strong> {{detailPerso.PILTEXTE}}</p>
</div>
<div>
    {{#each photosNonOfficiel}}
    <a  href="/image/pilote/{{this.PHOADRESSE}}" data-lightbox="photosNonOfficiel" data-title="{{this.PHOSUJET}} <br/> {{this.PHOCOMMENTAIRE}} ">
        <img class="photoNonOfficielPetit" src="/image/pilote/{{this.PHOADRESSE}}" alt="Photo Officiel" >
    {{/each}}
</div>
