<div class="flex-container-detailGrandPrix">

<div>


{{>listeGrandPrixPartial}}

</div>

    <div>


<h1>{{nomGrandPrix.GPNOM}} ({{formatDate nomGrandPrix.GPDATE 'DD/MM/YYYY'}})</h1>
<table>
    <tr>
        <th>Place</th>
        <th>Pilote</th>
        <th>Temps</th>
        <th>Nb Points</th>
    </tr>
    {{#each detailGrandPrix }}
        <tr>
            <td>{{inc @index}}</td>
            <td>{{this.PILNOM}} {{this.PILPRENOM}}</td>
            <td>{{this.TEMPSCOURSE}}</td>
            {{#if this.NBPOINT.PTNBPOINTSPLACE}}
                <td>{{this.NBPOINT.PTNBPOINTSPLACE}}</td>
            {{else}}
                <td>0</td>
            {{/if}}
        </tr>
    {{/each}}
</table>
{{#if commentaire}}
    <p>{{commentaire.GPCOMMENTAIRE}}</p>
{{/if}}
    </div>

</div>