{{>listeGrandPrixPartial}}

<h1>{{nomGrandPrix.GPNOM}} ({{formatDate nomGrandPrix.GPDATE 'DD/MM/YYYY'}})</h1>
<table>
    <tr>
        <th>Place</th>
        <th>Pilote</th>
        <th>Temps</th>
        <th>Nb Points</th>
    </tr>
    {{#each listeResultat }}
        <tr>
            <td>{{this.PTPLACE}}</td>
            <td>{{this.PILNOM}} {{this.PILPRENOM}}</td>
            <td>{{this.TEMPSCOURSE}}</td>
            <td>{{this.PTNBPOINTSPLACE}}</td>
        </tr>
    {{/each}}
</table>
<p>{{this.GPCOMMENTAIRE}}</p>