{{>listeCircuitPartial}}
<img src="/image/circuit/{{detailCircuit.CIRADRESSEIMAGE}}" alt="image du circuit">
<div>
    <p><strong>Nom :</strong> {{detailCircuit.CIRNOM}}</p>
    <p><strong>Longueur :</strong> {{detailCircuit.CIRLONGUEUR}}</p>
    <p><strong>Nombre de spectateurs :</strong> {{detailCircuit.CIRNBSPECTATEURS}}</p>
    <p><strong>Pays :</strong> {{detailCircuit.PAYNOM}}</p>
</div>
<p>{{detailCircuit.CIRTEXT}}</p>