
    <div>
        <div class="inner-div-accueil">
            <h1>Derniers résultats</h1>
            <span><b>{{resultat.GPNOM}} du {{formatDate resultat.DATE 'DD/MM/YYYY'}}</b></span><br/>
            <span>Mise à jour le  : {{formatDate resultat.DATEMAJ 'DD/MM/YYYY'}}</span><br />
            <span><a href="detailGrandPrix/{{resultat.GPNUM}}">Voir les résultats</a></span>
            <p>{{test}}</p>
        </div>
    </div>


