{{>listeRepPiloPartial}}

<div class="flex-container">
{{#each pilotes}}
    <div>
        <a href="/detailPilote/{{this.PILNUM}}">
        <img src="/image/pilote/{{this.PHOADRESSE}}" alt="image de {{this.PILNOM}}" class="photoPiloteRecherche">
            <br/>
            <strong style="color:black">{{this.PILPRENOM}} <br/> {{this.PILNOM}}</strong>
        </a>
    </div>
{{/each}}
</div>