{{>listeRepPiloPartial}}

{{#each pilotes}}
    <a href="/pagePilote/{{this.PILNUM}}">
    <img data-lightbox="image-1" src="/image/pilote/{{this.PHOADRESSE}}" alt="image de  {{this.PILNOM}}" class="photoPiloteRecherche">
        <strong>{{this.PILPRENOM}} {{this.PILNOM}}</strong>
    </a>
{{/each}}