<div id="presentationGestion">
    <img src="/image/cat_sponsor.png" alt="sponsor" />
    <h1>Gestion des sponsors</h1>
    <p><a href="sponsors/ajoutSponsor"> <img  src="/image/act_add.png" alt="Ajout_image" />AJOUTER UN SPONSOR</a></p>
</div>
{{#if sponsors}}
    <div id="tableauPilote">
        <table>
            <tr>
                <th> Nom </th>
                <th> Directeur </th>
                <th> Actions</th>
            </tr>
            {{#each sponsors}}
                <tr>
                    <td>
                        {{ this.SPONOM }}
                    </td>
                    <td>
                        {{ this.SPOSECTACTIVITE}}
                    </td>
                    <td>
                        <img src="/image/act_edit.png" alt="Edit_image" /><a href="/sponsors/modifier/{{this.SPONUM}}">MODIFIER</a>
                        <img src="/image/act_delete.png" alt="Edit_image" /><a  href="/sponsors/supprimer/{{this.SPONUM}}">SUPPRIMER</a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
{{else}}
    <p>Aucun sponsor enregistré </p>
{{/if}}
