<img src="/image/cat_resultat.png" alt="Trophé du résultat" />
<h1>Gestion Grand Prix</h1>
<a href="grandprix/ajoutGP"><img src="/image/act_add.png" alt="logoAjout"> Ajouter un GrandPrix</a>
{{#if gps}}
    <div id="tableauPilote">
        <table>
            <tr>
                <th> Nom </th>
                <th> Nombre de tours </th>
                <th> Commentaire </th>
                <th> Actions</th>
            </tr>
            {{#each gps}}
                <tr>
                    <td>
                        {{ this.GPNOM}}
                    </td>
                    <td>
                        {{ this.GPNBTOURS}}
                    </td>
                    <td>
                        {{this.GPCOMMENTAIRE}}
                    </td>
                    <td>
                        <img src="/image/act_edit.png" alt="Edit_image" /><a href="/grandprix/modifier/{{this.GPNUM}}">MODIFIER</a>
                        <img src="/image/act_delete.png" alt="Edit_image" /><a href="/grandprix/supprimer/{{this.GPNUM}}">SUPPRIMER</a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
{{else}}
    <p>Aucun grand prix enregistré</p>
{{/if}}