<h1>Modifier un circuit</h1>
<form action="#" method="post" enctype="multipart/form-data">
    <label for="nom">
        <strong>Nom </strong>
        <input type="text" name="nom" value="{{circuit.CIRNOM}}" required>
    </label>
    </br></br>
    <label for="longueur">
        <strong>Longueur</strong>
        <input type="number" name="longueur" value="{{circuit.CIRLONGUEUR}}" required>
    </label>
    </br></br>
    <label for="pays">
        <strong>Pays</strong>
        <select name="pays" required>
            <option value="{{cirPays.PAYNUM}}">{{cirPays.PAYNOM}}</option>
            {{#each pays}}
                {{#ifCond this.PAYNUM '!=' cirPays.PAYNUM}}
                    <option value="{{this.PAYNUM}}"> {{this.PAYNOM}}</option>
                {{/ifCond}}
            {{/each}}
        </select>
    </label>
    </br></br>
    <label for="image">
        <strong>Image</strong>
        <input type="file" name="image" accept="image/png, image/jpeg" required/>
    </label>
    </br></br>
    <label for="nbspectateur">
        <strong>Nombre de spectateur</strong>
        <input type="number" name="nbspectateur" value="{{circuit.NBSPECTATEURS}}" required>
    </label>
    </br></br>
    <label for="description">
        <strong>Description</strong>
        <textarea name="description" rows="4" cols="100" required>{{circuit.CIRTEXT}}</textarea>
    </label>
    </br></br>
    <input type="submit" value="MODIFIER">
</form>